{{!-- 
    Banner pour le cookie ptiGato
    import layout main.hbs
    :banner
--}}
<div>
  {{!-- Si il ya le cookie --}}
  {{#if CPtiGato }}
  {{!-- Sinon si il n'y a pas le cookie --}}
  {{else}}
  <div class="mt-20vh black">
    <div class="itm">
      <a class="btn bg-gold" href="/newCookie">Créé mon cookie</a>
      <p>Vous devez accepter le cookie PtiGato pour pouvoir naviguer sur le site</p>
    </div>
  </div>
  {{/if}}
  {{!-- 
    1) Clear Tout les Cookie
--}}
  <a href="/clearCookie">
    <button>Supprimer tous les cookies</button>
  </a>

  {{!-- 
    2) New Cookie
--}}
  {{!-- <a href="/newCookie">
    <button>New Cookie</button>
  </a> --}}

  {{!-- 
    3) New ptiGato
--}}
  {{!-- <a href="/newPtiGato">
    <button>New ptiGato</button>
  </a> --}}


  {{!-- 
    Kill cookie:
      - Cookie
      - ptiGAto
--}}
  {{!-- <form action="/cookie" method="post">
    <button type='submit' name='clearCookie' value="killCookie">Clear Cookie</button>
    <button type='submit' name='clearPtiGato' value="killPtiGato">Clear ptiGato</button>
  </form> --}}
  © 2020 CaligariTatoo, Inc.
</div>
{{!-- 
    Appelle des json (render)
 --}}
<h3> {{ allCookie }} </h3> </br>
<h4> {{ CSession }} {{ CPtiGato }} {{ CCookie }} </h4>
{{!-- Si il y a le cookie "cookie" controller home --}}
{{#if cook }}
<h4>cook: {{ cook.path }}</h4>
{{/if}}
